export(unidiff, rc, hmskew, yrcskew, rcL, rcL.trans, hmskewL)
export(svyrc, svyhmskew, svyyrcskew, svyrcL, svyrcL.trans, svyhmskewL)

export(HMSkew, YRCSkew, RCTrans, RCTransSymm)

export(assoc)
S3method(assoc, rc)
S3method(assoc, rc.symm)
S3method(assoc, hmskew)
S3method(assoc, yrcskew)
S3method(assoc, rcL)
S3method(assoc, rcL.symm)
S3method(assoc, rcL.trans)
S3method(assoc, rcL.trans.symm)
S3method(assoc, hmskewL)

export(se)
S3method(se, default)
S3method(se, assoc)
S3method(se, rc)
S3method(se, hmskew)
S3method(se, yrcskew)
S3method(se, rcL)
S3method(se, hmskewL)

S3method(print, unidiff)
S3method(print, rc)
S3method(print, rc.symm)
S3method(print, hmskew)
S3method(print, yrcskew)
S3method(print, rcL)
S3method(print, rcL.symm)
S3method(print, hmskewL)

S3method(summary, assocmod)
S3method(summary, unidiff)

S3method(print, summary.assocmod)
S3method(print, summary.unidiff)

S3method(plot, unidiff)
S3method(plot, assoc)
S3method(plot, rc)
S3method(plot, rc.symm)
S3method(plot, hmskew)
S3method(plot, yrcskew)
S3method(plot, rcL)
S3method(plot, rcL.symm)
S3method(plot, hmskewL)

export(anoas)
export(anoasL)
S3method(print, anoas)
S3method(summary, anoas)
S3method(print, summary.anoas)

S3method(asGnm, unidiff)
S3method(asGnm, assocmod)

export(iac)
export(maor)
export(ras)

export(svygnm)
S3method(svygnm, svyrep.design)
S3method(print, svygnm)
S3method(vcov, svygnm)
S3method(summary, svrepgnm)
S3method(print, summary.svygnm)
S3method(residuals, svrepgnm)
S3method(confint, svygnm)
S3method(logLik, svrepgnm)
S3method(extractAIC, svrepgnm)
S3method(model.matrix, svygnm)

import(stats, utils, graphics, grDevices, gnm)
